<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="my.bdh.app.mapper.QuestionsMapper">
  
  <select id="selectTypeQuestions" resultType="my.bdh.app.dto.Question">
    SELECT * 
    FROM "QUESTIONS" 
    JOIN "TYPES" USING (TYPE_NO)
    WHERE TYPE_NO = #{typeNo}

  </select>
  
</mapper>
